nav {
  padding-right: 40px;

  a {
    margin: 50px 0;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    text-align: center;
    z-index: 999;

    &.active {
      color: #f998ef;

      &:after {
        transform: scaleX(1);
      }
    }

    &:after {
      display: block;
      content: '';
      margin-top: 10px;
      padding: 0 30px;
      border-bottom: 1px solid #ea98f7;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover {
      color: #f998ef;

      &:after {
        transform: scaleX(1);
      }
    }
  }
}
