$circle: 140px;
$inner-padding: 150px;

@mixin circleSize($circle) {
  width: $circle;
  height: $circle;
}

@mixin paddingSize($circle, $inner-padding, $spinner: false) {
  $size: $circle + $inner-padding;

  @if ($spinner) {
    $size: $size - 1px;
  }

  width: $size;
  height: $size;
}

.small-circle {
  position: absolute;
  z-index: 2;

  &:nth-of-type(1) {
    left: 80px;
    animation: c1 1s;
  }

  &:nth-of-type(2) {
    top: 100px;
    right: 40px;
    animation: c2 1s;
  }

  &:nth-of-type(3) {
    left: 0px;
    bottom: 0;
    animation: c3 1.5s;
  }

  &:nth-of-type(4) {
    right: 0;
    bottom: 180px;
    animation: c4 2s;
  }
}
.circles {
  overflow: hidden;
}

.main-circle {
  padding: 70px;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    transform: rotate(90deg);
    box-shadow: inset 0px -270px 70px -100px #0f0e0e;
  }

  .inner-circle {
    @include circleSize($circle);
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      #fdc898 0%,
      #8c507d 50%,
      rgba(181, 23, 255, 0.3) 80%,
      rgba(181, 23, 255, 0.1) 100%
    );
    text-align: center;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .inner-contents {
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    z-index: 3;
  }

  .outer-circle {
    @include paddingSize($circle, $inner-padding);
    display: inline-block;
    // background: #0f0e0e;
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 3;
  }

  .outer-spinner {
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      @include paddingSize($circle, $inner-padding, true);
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #d9d9d9;
      animation: spin 3s linear infinite;
      z-index: 2;
    }
  }
}

@media (min-width: 768px) {
  $circle: 400px;
  $inner-padding: 320px;

  .main-circle {
    .inner-circle {
      @include circleSize($circle);
    }
    .outer-circle {
      @include paddingSize($circle, $inner-padding);
    }

    .outer-spinner {
      &::before {
        @include paddingSize($circle, $inner-padding, true);
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes c1 {
  0% {
    top: -100px;
    left: 0px;
  }
}

@keyframes c2 {
  0% {
    top: 100px;
    right: 0px;
  }
}

@keyframes c3 {
  0% {
    bottom: 10px;
    left: 50px;
  }
}

@keyframes c4 {
  0% {
    bottom: 0px;
    right: 80px;
  }
}
