@import '../mixins.scss';

#home {
  position: relative;

  .circles {
    display: flex;
    @include home-circles;

    &.animate {
      animation: move-from-work 1s;
    }
  }
}

@keyframes move-from-work {
  0% {
    @include work-circles;
  }
}
